/* Amenities.module.css */

/* Container and Section Styles */
.sectionContainer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}

/* Container Width */
.container {
  margin: 0 auto;
  width: 90%; /* Default container width */
}

@media (min-width: 767px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 990px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1280px;
  }
}

/* Center text alignment */
.textCenter {
  text-align: center;
}

/* Heading Styles */
.heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .heading {
    font-size: 36px;
  }
}

