/* Amenities.module.css */

/* Container and Section Styles */
.sectionContainer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}

/* Container Width */
.container {
  margin: 0 auto;
  width: 90%; /* Default container width */
}

@media (min-width: 767px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 990px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1280px;
  }
}

/* Center text alignment */
.textCenter {
  text-align: center;
}

/* Heading Styles */
.heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .heading {
    font-size: 36px;
  }
}

.flexWrapper {
  margin: 0; /* Equivalent to m-0 */
  padding: 0; /* Equivalent to p-0 */
  display: flex; /* Equivalent to flex */
  flex-wrap: wrap; /* Equivalent to flex-wrap */
}

/* List Styles */
.amenitiesList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add space between list items */
}

/* Individual Item Style */
.amenityItem {
  list-style-type: none;
  width: 50%; /* Default width for small screens */
  padding: 10px;
  font-size: 14px;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 640px) {
  .amenityItem {
    width: 33.33%; /* Medium-sized screens */
  }
}

@media (min-width: 768px) {
  .amenityItem {
    width: 25%; /* Larger screens */
  }
}

@media (min-width: 1024px) {
  .amenityItem {
    width: 20%; /* Extra-large screens */
  }
}

/* Icon Styles */
.icon {
    font-size: 100px;
  color: #4caf50; /* Green color for icon */
  margin-right: 8px;
  
}

@media (min-width: 768px) {
  .icon {
    width: 20px; /* Larger icon size for medium screens */
  }
}
