.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  
}

.heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputField::placeholder {
  color: #c8c8c8;
  opacity: 1;
}

.inputField {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.inputField:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.submitButton {
  width: 100%;
  background-color: #4488ee;
  color: white;
  padding: 0.8rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

@media (min-width: 576px) {
  .formContainer {
    max-width: 550px;
  }

  .heading {
    font-size: 30px;
  }

  .inputField {
    padding: .9rem;
  }

  .submitButton {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .formContainer {
    max-width: 600px;
    padding: 2.5rem;
  }

  .heading {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .formContainer {
    max-width: 700px;
    padding: 3rem;
  }

  .heading {
    font-size: 26px;
  }

  .inputField {
    font-size: 1rem;
    color: #8e8c8c;
  }

  .submitButton {
    font-size: 1.1rem;
  }
}

.dropdown {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color:#8e8c8c;
  background-color: white;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.dropdown:focus {
  border-color: #0070f3;
  outline: none;
  color:#8e8c8c;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.error {
  border-color: red;
  box-shadow: none;
}

.errorText {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.inputField {
  /* Other styles */
  border: 1px solid #ccc;
}

.error {
  border-color: red;
}

.inputField {
  /* Other styles */
  border: 1px solid #ccc;
}

.error {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
