/* Section Container Styles */
.sectionContainer {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Container */

@media screen and (min-width: 1300px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (min-width: 990px) {
    .container {
        max-width: 950px;
    }
}
@media screen and (min-width: 767px) {
    .container {
        max-width: 730px;
    }
}
@media screen and (min-width: 200px) {
    .container {
        max-width: 90%;
    }
}
.container {
    margin: 0 auto;
}


/* Centered Text */
.textCenter {
  text-align: center;
}

/* Heading Styles */
.heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .heading {
    font-size: 36px;
  }
}

/* Project Grid */
.projectsGrid {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



.projectCard {
  width: 33.3333%;
  padding: 15px;
}

@media (max-width: 990px) {
  .projectCard {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .projectCard {
    width: 100%;
  }
}

.cardInner {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
}


.projectImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .projectImage {
    height: 220px;
  }
}

.cardContent {
  padding: 15px 15px;
}

/* Project Title */

.projectTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 15px;
}

/* Project Description */
.projectDescription {
  color: #808080;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}
