.MainSection {
  padding-top: 11rem; /* pt-44 */
  padding-bottom: 6rem; /* pb-24 */
  background-size: cover; /* bg-cover */
  background-position: center; /* bg-center */
  background-attachment: fixed; /* bg-fixed */
  position: relative; /* relative */
}

.MainSectionOverlay {
  position: absolute; /* absolute */
  inset: 0; /* inset-0 */
  background-color: black; /* bg-black */
  opacity: 0.4; /* opacity-40 */
  filter: blur(1px); /* blur-[1px] */
}

/* Container Width */
.container {
  margin: 0 auto;
  width: 90%; /* Default container width */
}

@media (min-width: 1024px) {
  /* lg:mx-8, lg:max-w-[calc(100%-4rem)] */
  .container {
    margin-left: 2rem; /* lg:mx-8 => 2rem */
    margin-right: 2rem; /* lg:mx-8 => 2rem */
    /* lg:max-w-[calc(100%-4rem)] */
  }
}

@media (min-width: 1280px) {
  /* xl:mx-16, xl:max-w-[calc(100%-8rem)] */
  .container {
    margin-left: 4rem; /* xl:mx-16 => 4rem */
    margin-right: 4rem; /* xl:mx-16 => 4rem */
  /* xl:max-w-[calc(100%-8rem)] */
  }
}




.flexWrapper {
  position: relative;
  display: flex;
  flex-direction: column; /* Use column layout on smaller screens */
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.flexWrapperLg {
  @media(min-width: 768px) {
    flex-direction: row; /* Switch to row layout on larger screens */
    justify-content: center;
    align-items: center; /* Align items to the top */
    text-align: left;
  }
}

.textContainer {
  width: 100%; /* Full width on smaller screens */
  margin-bottom: 2rem;
  color: white;
}

.textContainerLg {
  @media (min-width: 768px) {
    width: 60%; /* Adjust text container width for larger screens */
    margin-bottom: 0;
  }
}

.heading {
  margin: 0;
  font-weight: 700;
  font-size: 26px; /* Default size for smaller screens */
}

.headingMd {
  @media (min-width: 576px) {
    font-size: 36px;
    
  }
}

.headingLg {
  @media (min-width: 992px) {
    font-size: 50px; /* Larger heading size for desktops */
  }
}

.paragraph1,
.paragraph2 {
  margin-top: 16px ;
  font-size: 12px;
  font-weight: 700;
}

.paragraph1Md,
.paragraph2Md {
  @media (min-width: 576px) {
    font-size: 16px;
  }
}

.paragraph1Lg {
  @media (min-width: 992px) {
    font-size: 24px;
  }
}

.paragraph2Lg {
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

.signupContainer {
  width: 100%; /* Full width on smaller screens */
  margin-top: 2rem; /* Add spacing between text and form */
}

.signupContainerLg {
  @media (min-width: 768px) {
    width: 40%; /* Form takes less space on larger screens */
    margin-top: 0;
  }
}
